@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .customeInput {
    @apply border border-stone-200 px-4 py-2 rounded-full text-sm transition-all duration-300 w-full text-stone-700 font-semibold placeholder:text-stone-400 placeholder:font-light outline-none focus:outline-none focus:ring focus:ring-yellow-400 focus:ring-offset-1
  }

  .logout {
    @apply bg-red-400 font-semibold text-stone-700 tracking-wide uppercase rounded-full 
    hover:bg-red-300 transition-all duration-300 outline-none text-sm 
    focus:outline-none focus:ring focus:ring-red-300 focus:ring-offset-1 px-3 py-2
  }

  .button {
    @apply bg-yellow-400 font-semibold text-stone-700 tracking-wide uppercase rounded-full 
    hover:bg-yellow-300 transition-all duration-300 outline-none disabled:cursor-not-allowed 
    focus:outline-none focus:ring focus:ring-yellow-300 focus:ring-offset-1 px-2 py-1 text-xs
  }
}


body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #e7e5e4;
  color: #44403c;
}


.loader {
  width: 45px;
  aspect-ratio: 0.75;
  --c: no-repeat linear-gradient(#facc15 0 0);
  background: var(--c) 0% 50%, var(--c) 50% 50%, var(--c) 100% 50%;
  background-size: 20% 50%;
  animation: loading 1s infinite linear;
}

@keyframes loading {
  20% {
    background-position: 0% 0%, 50% 50%, 100% 50%;
  }

  40% {
    background-position: 0% 100%, 50% 0%, 100% 50%;
  }

  60% {
    background-position: 0% 50%, 50% 100%, 100% 0%;
  }

  80% {
    background-position: 0% 50%, 50% 50%, 100% 100%;
  }
}